<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/WebConsoleDemo/src/org/jgrapes/webconsole/demo/WebConsoleDemo.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;javaProject name=&amp;quot;org.jgrapes.webcon&amp;quot;/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.jdt.launching.sourceContainer.javaProject&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/WebConsoleDemo/console.log}"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;WebConsoleDemo&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.vuejs&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.base&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.http/1.4.0/d672222efaa1b9489757c45cdc27892a53289db5/org.jgrapes.http-1.4.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.http/1.4.0/8e30dba1bf28448e76a839eb9fa147eb716ba906/org.jgrapes.http-1.4.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.io/1.4.0/ea43b7e10775f603058e857704b6b6f88cac78f/org.jgrapes.io-1.4.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.io/1.4.0/106a89156ecb23ab3c91b3f66b6b5f6c7bf892d2/org.jgrapes.io-1.4.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.util/1.4.0/b7e66e48aab080f4099952f109e901b061dbe056/org.jgrapes.util-1.4.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.util/1.4.0/9c47842474517fbc521b659d101fdd53fd951bb5/org.jgrapes.util-1.4.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.core/1.4.0/c85e352f22d5a66603d5a5153d844d56753e7b23/org.jgrapes.core-1.4.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jgrapes/org.jgrapes.core/1.4.0/37117e4a72416873792d24bc90abba0577ec549/org.jgrapes.core-1.4.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jdrupes.json/json/2.3.1/493780bb2ce7775215aabe6df77f4467305c4a2f/json-2.3.1.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jdrupes.json/json/2.3.1/9062ff97a0601667e13e9f8c3020e836ef994724/json-2.3.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.freemarker/freemarker/2.3.31/cd4fc0942b4a8bdb19f3b669aa42136fb54feb55/freemarker-2.3.31.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.freemarker/freemarker/2.3.31/bfab9ff19560a08eec231311ef2a192664a1c3d4/freemarker-2.3.31-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.osgi/org.osgi.annotation/6.0.0/8e60d5960532e492c70b507752f95a76a955bf1f/org.osgi.annotation-6.0.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.osgi/org.osgi.annotation/6.0.0/d7ebeed8c7afb937ddb4652d90517c8c05294ee0/org.osgi.annotation-6.0.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jdrupes.httpcodec/httpcodec/2.3.0/6896c4e7ea95f1e4055a1c24144f5ca8eb58dd96/httpcodec-2.3.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.jdrupes.httpcodec/httpcodec/2.3.0/14965254e5ff1ea30433867ecd882d60a67a14de/httpcodec-2.3.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.12.2/8df50138521d05561a308ec2799cc8dda20c06df/jackson-core-2.12.2.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.12.2/882b7c5f3b71f22f181e0b4c88d5a1f818de04a6/jackson-core-2.12.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/com.sun.activation/javax.activation/1.2.0/bf744c1e2776ed1de3c55c8dac1057ec331ef744/javax.activation-1.2.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/com.sun.activation/javax.activation/1.2.0/5b034823866d38f38f02bdad7ed8a14e650c61b6/javax.activation-1.2.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/junit/junit/4.13.1/cdd00374f1fee76b11e2a9d127405aa3f6be5b6a/junit-4.13.1.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/junit/junit/4.13.1/523bdce923a13622132b263550d06519fc591ec4/junit-4.13.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/net.jodah/concurrentunit/0.4.2/5cff569d560a643eda173c1f340400352ae867b5/concurrentunit-0.4.2.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/net.jodah/concurrentunit/0.4.2/88eb3350ba3b973c92bd2cdbc6fe74a07c137abb/concurrentunit-0.4.2-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.hamcrest/hamcrest-core/1.3/42a25dc3219429f0e5d060061f71acb49bf010a0/hamcrest-core-1.3.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.hamcrest/hamcrest-core/1.3/1dc37250fbc78e23a65a67fbbaf71d2e9cbc3c0b/hamcrest-core-1.3-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.jgwcvuecomponents&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.vue&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.fontawesome&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.jqueryui&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.gridstack&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.jquitouchpunch&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.bootstrap4&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.jquery&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.jqueryui&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.markdowndisplay&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.sysinfo&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.chartjs&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.datatables&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconsole.provider.markdownit&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.jmxbrowser&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.examples.helloworld&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.examples.formtest&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.examples.styletest&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;org.jgrapes.webconlet.messagebox&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.osgi/osgi.core/6.0.0/c49acdc9ac62cf69ee49cb6f1905b4fdb79ea5c/osgi.core-6.0.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/mnl/.gradle/caches/modules-2/files-2.1/org.osgi/osgi.core/6.0.0/921a11d64e9a5e6fb04f99a006a3b4b9773f44b8/osgi.core-6.0.0-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/graalvm-ce-java11-21.3.0/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.jgrapes.webconsole.demo.WebConsoleDemo"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/graalvm-ce-java11-21.3.0/&quot; path=&quot;4&quot; type=&quot;4&quot;/&gt;&#10;"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="WebConsoleDemo"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WebConsoleDemo"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=jul-debug.properties -Xmx512m"/>
</launchConfiguration>
