<div class="FormTest-view"
  data-jgwc-on-load="orgJGrapesOsgiConletStyleTest.initView"
  data-jgwc-on-unload="JGConsole.jgwc.destroyVMs">

<h1>Style Tests</h1>

  <h2>{{ localize("Disclosure (in table)") }}</h2>

  <table class="table--basic--striped jgrapes-osgi-style-test-table-with-disclosures">
    <thead>
      <tr>
        <th v-for="key in controller.keys" aria-role="button" tabindex="0"
          class="sortable" v-on:click="controller.sortBy(key)">
          {{ localize(controller.label(key)) }}<span v-if="controller.sortedByAsc(key)">&#x25B2;</span><span
            v-if="controller.sortedByDesc(key)">&#x25BC;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <template v-for="(entry, rowIndex) in filteredData">
        <tr role="row" :class="[(rowIndex % 2) ? 'odd' : 'even']">
          <td>
            <jgwc-disclosure-button v-if="rowIndex === 0" 
              :id-ref="scopedId(rowIndex)"
              :on-toggle="function() { JGConsole.notification('Changed.') }"
              :on-show="function() { JGConsole.notification('Now showing.') }"
              :on-hide="function() { JGConsole.notification('Now hidden.') }"
              >
              <span v-html="entry[controller.keys[0]]"></span>
            </jgwc-disclosure-button>
            <jgwc-disclosure-button v-else 
              v-bind:id-ref="scopedId(rowIndex)" :type="'div'">
              <span v-html="entry[controller.keys[0]]"></span>
            </jgwc-disclosure-button>
          </td>
          <td v-for="(key, colIndex) in controller.keys.slice(1)">
            <span v-html="entry[key]"></span>
            <span v-if="key === 'title' 
              && jgwc.isDisclosed(scopedId(rowIndex))">(see below)</span>
          </td>
        </tr>
        <tr :id="scopedId(rowIndex)" is="jgwc-disclosure-section"
          class="details" :class="[(rowIndex % 2) ? 'odd' : 'even']">
          <td colspan="3">
            Those are the details...
          </td>
        </tr>
      </template>
    </tbody>
  </table>

  <test-button text="Hi there!"></test-button>

</div>