/*
 * Portlet specific styles.
 */
 
.jgconsole-formTest-paymentFormSample {
	padding: 1rem;
	border: solid 1px black;
	border-radius: 0.25rem;
}

.jgconsole-formTest-inputAlternative--1 {
    background-color: rgba(0,0,0,.05);
}

.jgconsole-formTest-inputAlternative--2 {
    background-color: rgba(0,0,0,.1);
}

.jgconsole-formTest-paymentFormSample section:nth-of-type(2) label > *:first-child {
	display: inline-block;
    vertical-align: middle;
    text-align: right;
	width: 15em;
}