/*
 * Portlet specific styles.
 */

.jgrapes-portlets-mdp-body * {
	box-sizing: border-box;
}

/* Put preview input and preview side by side. */
.jgrapes-portlets-mdp-preview {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.jgrapes-portlets-mdp-preview .form-group:nth-child(1) {
    padding-right: 0.5em;
    flex-basis: 50%;
    flex-grow: 1;
}

.jgrapes-portlets-mdp-preview .form-group:nth-child(2) {
    padding-left: 0.5em;
    flex-basis: 50%;
    flex-grow: 1;
}

/* Let preview input grow. */
.jgrapes-portlets-mdp-preview .form-group:nth-child(1) {
	display: flex;
	flex-direction: column;
}

.jgrapes-portlets-mdp-preview .form-group:nth-child(1) 
    .form-item:last-child {
	flex-grow: 1;
}

/*
.jgrapes-portlets-mdp-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.jgrapes-portlets-mdp-view .jgportal-vinput-group:nth-child(1) {
    padding-bottom: 0.5em;
    flex-basis: 50%;
    flex-grow: 1;
}

.jgrapes-portlets-mdp-view .jgportal-vinput-group:nth-child(1) textarea {
    height: 100%;
    width: 100%;
}

.jgrapes-portlets-mdp-view .jgportal-vinput-group:nth-child(2) {
    padding-top: 0.5em;
    flex-basis: 50%;
    flex-grow: 1;
}
*/

.dummy {
	width: 10%;
}