/*
 * Portlet specific styles.
 */

.jgrapes-portlets-mdp-title-input {
	width: 100%;
}

.jgrapes-portlets-mdp-preview {
	width: 100%;
	display: flex;
}

.jgrapes-portlets-mdp-preview-input-widget {
	padding-right: 1em;
	flex-basis: 50%;
	flex-grow: 1;
}

.jgrapes-portlets-mdp-preview-input-widget textarea {
    width: 100%;
}

.jgrapes-portlets-mdp-preview-preview-widget {
    padding-left: 1em;
	flex-basis: 50%;
	flex-grow: 1;
}

.jgrapes-portlets-mdp-view-input-widget textarea {
    width: 100%;
}
