/*
 * Portlet specific styles.
 */
 .jgrapes-portlets-sysinfo-view .memoryChart-wrapper {
    height: 50vh;
    width: 100%;
}
 
.jgrapes-portlets-sysinfo-view .GarbageCollection-action {
	float: right;
}

.jgrapes-portlets-sysinfo-view button span.fa {
    margin-right: 0.5em;
}