/*
 * Conlet specific styles.
 */

.jgrapes-conlet-mdp-form {
    display: block;
    min-width: 80vw;
}

.jgrapes-conlet-mdp-form section > p:first-of-type {
	font-size: 150%;
    margin-bottom: 0;
}

.jgrapes-conlet-mdp-form p {
	margin-top: 0.25em;
}

.jgrapes-conlet-mdp-form .jgrapes-conlet-mdp-preview-preview,
.jgrapes-conlet-mdp-form .jgrapes-conlet-mdp-view-preview {
	padding: 0.5em 0.5em;
	border: 1px solid black;
	max-height: 20vh;
	overflow: scroll;
	width: 100%;
}

/* Put preview input and preview side by side. */
.jgrapes-conlet-mdp-preview {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.jgrapes-conlet-mdp-preview > p {
	margin-bottom: 0;
}
	
.jgrapes-conlet-mdp-preview p:nth-child(1) {
    padding-right: 0.5em;
    flex-basis: 50%;
    flex-grow: 1;
    /* Let preview input grow. */
    display: flex;
    flex-direction: column;
}

.jgrapes-conlet-mdp-preview p:nth-child(1) label {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.jgrapes-conlet-mdp-preview p:nth-child(1) label textarea {
    height: 100%;
    flex-grow: 1;
}

.jgrapes-conlet-mdp-preview p:nth-child(2) {
    padding-left: 0.5em;
    flex-basis: 50%;
    flex-grow: 1;
}

.jgrapes-conlet-mdp-preview .form-group:nth-child(1) 
    .form-item:last-child {
	flex-grow: 1;
}

.jgrapes-conlet-mdp-view label {
	width: 100%;
}

.jgrapes-conlet-mdp-view textarea {
    width: 100%;
}
