/*
 * Basic, framework independent table.
 */

.jgportal-basic-table thead th {
    white-space: nowrap;
} 

.jgportal-basic-table {
    display: block;
    overflow-x: auto;
}

.jgportal-basic-table thead th {
    white-space: nowrap;
} 

.jgportal-basic-table thead th.sortable {
    cursor: pointer;
}

.jgportal-basic-table thead th:not(:last-child) {
    padding-right: 1em;
} 

.jgportal-basic-table tbody td:not(:last-child) {
    padding-right: 1em;
} 

.jgportal-striped-table tbody tr.even {
    background-color: rgba(0,0,0,.05);
}

.jgportal-auto-striped-table tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
}
