/*
 * Basic, framework independant table.
 */

.jgportal-basic-table thead th {
    white-space: nowrap;
} 

.jgportal-basic-table {
    display: block;
    overflow-x: auto;
}

.jgportal-basic-table thead th {
    white-space: nowrap;
} 

.jgportal-basic-table thead th.sortable {
    cursor: pointer;
}

.jgportal-basic-table thead th:not(:last-child) {
    padding-right: 1em;
} 

.jgportal-basic-table tbody td:not(:last-child) {
    padding-right: 1em;
} 

